@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oleo+Script:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #445255;
    font-family: "Oleo Script", system-ui;
    font-weight: 00px;
    font-style: normal;
    height: 100vh;
}



.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(../img//Fundo_index.png);
    width: 100%; /* Ajuste conforme necessário */
    height: 100vh; /* Usa toda a altura da viewport */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    overflow: hidden; /* Evita que partes do GIF saiam do contêiner */
    backdrop-filter: blur(100px);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}


#logo{
    color:#ffffff;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    padding-left: 10px;
}


.img-logo{
    width: 30px;
    height: 30px;
}


.nav-link{
    color: white;
    text-decoration: none;
    padding-right: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 80px;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    
}



.nav-link:hover{
    background-color: #ff0000f1;
    height: 47px;
    width: 80px;
    border-radius: 6px;
    transform: scale(1.03);
}

#nivel{
    background-color: transparent;
    border: none;
    color: #157c00;
    font-weight: bold;
    font-size: 15px;
    font-family: "Oleo Script", system-ui;
    padding-top: 13px;
    display: flex;
    cursor: pointer;
    
    
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

#titulo{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: #8d9192 solid 1px;
    padding-right: 2px;
}

main{
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #ffffff;
    flex-direction: row;
}

.text{
    color: white; 
    border-radius: 10px; 
    padding: 20px; 
    max-width: 600px; 
    text-align: center; 
    height: 400px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(2px);
}





.text h1{
    font-size: 48px;
}

.text p {
    font-size: 20px;
    padding-right: 100px;
}

.botao {
    background-color: #b80000;
    height: 330px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transições suaves */
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    align-self: center;
}


.botao a {
    text-decoration: none;
    color: #ffffff;
}


.botao:hover { 
    background-color: #157c00; /* Cor de fundo ao passar o mouse */
    transform: scale(1.03); /* Aumenta o tamanho do botão ao passar o mouse */
    border-radius: 10px;
}


