@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Dangrek&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #445255;
    font-family: "Dangrek", sans-serif;
    height: 100vh;
}



.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(../img/gif5);
    width: 100%; /* Ajuste conforme necessário */
    height: 100vh; /* Usa toda a altura da viewport */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    overflow: hidden; /* Evita que partes do GIF saiam do contêiner */
    backdrop-filter: blur(100px);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


#logo{
    color:#ffffff;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    padding-left: 10px;
}


.img-logo{
    width: 30px;
    height: 30px;
}


.nav-link{
    
    padding-right: 10px ;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 47px;
    width: 80px;
    border-radius: 6px;
    padding-right: 2px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transições suaves */
    
}


.nav-link:hover{
    background-color: #ff0000f1;
    height: 47px;
    width: 80px;
    border-radius: 6px;
    transform: scale(1.03); /* Aumenta o tamanho do botão ao passar o mouse */
}



ul{
    list-style: none;
    display: flex;
    gap: 20px;
}


main{
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 60px;
    color: #ffffff;
    

}

.text{
    color: white; 
    border-radius: 10px; 
    padding: 20px; 
    max-width: 600px; 
    text-align: center; 
    height: 400px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.botao {
    background-color: #b80000;
    height: 70px;
    width: 120px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transições suaves */
    font-weight: bold;

}


.botao a {
    text-decoration: none;
    color: #ffffff;
}


.botao:hover { 
    background-color: #d40000; /* Cor de fundo ao passar o mouse */
    transform: scale(1.03); /* Aumenta o tamanho do botão ao passar o mouse */
}


